
body{
 background: url("/panda.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* 

.container {
  display: flex;
  height: 100vh;
  padding: 40px;
  gap: 60px;

 
}


.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: #64646a;

  backdrop-filter: blur(6px);
  border-radius: 16px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #55555a;
  justify-content: center;
  margin-left: 90%;
}

.right h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.right button {
  margin: 6px 0;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20%;
  border-radius: 8px;
  border: none;
  background: #77777e;
  color: white;
}

.right button:hover {
  background: #55555a;
} */


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
  gap: 20px;
}
 .left{
    padding: 6%;
  }
/* Left text */
.left p {
  font-size: 28px;
  line-height: 1.4;
  
  color: #64646a;
}

.right {
  display: flex;
  gap: 15px;
  flex-direction: column;
  transform: translateX(150px);
}

.right button {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #77777e;
  color: white;
   transition: transform 0.2s ease, background 0.2s ease; 
}

.right button:hover {
  background: #55555a;
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  

 
  .left p {
    font-size: 22px;
    font-weight: 700;
  }

  .right {
    flex-direction: column;
    width: 100%;
    margin-top: 90%;
  transform: translateX(1px);

  }

 .right button {
  width: 100%;
  font-size: 18px;
  padding: 12px 20px;

  background-color: transparent;
  color: #55555a;
  border: 2px solid #55555a;  
  border-radius: 8px;
  cursor: pointer;
   transition: transform 0.2s ease, background 0.2s ease; 
}
.right button:hover {
  background-color: #57575c;
  color: white;
  transition: 0.2s ease;
  transform: scale(1.08);
}


}
