

body {
  background: url("/panda.avif") no-repeat center;
  background-size: cover;
  animation: bgAnimate 18s ease-in-out infinite alternate;
}

@keyframes bgAnimate {
  0% {
    background-size: 100%;
    background-position: center;
  }
  100% {
    background-size: 112%;
    background-position: right center;
  }
}



.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
  gap: 20px;
}
 .left{
    padding: 6%;
  }
/* Left text */
.left p {
  font-size: 28px;
  line-height: 1.4;
  
  color: #64646a;
}

.right {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.right button {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #77777e;
  color: white;
   transition: transform 0.2s ease, background 0.2s ease; 
}

.right button:hover {
  background: #55555a;
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  

 
  .left p {
    font-size: 22px;
    font-weight: 700;
  }

  .right {
    flex-direction: column;
    width: 100%;
    margin-top: 90%;
  transform: translateX(1px);

  }

 .right button {
  width: 100%;
  font-size: 18px;
  padding: 12px 20px;

  background-color: transparent;
  color: #55555a;
  border: 2px solid #55555a;  
  border-radius: 8px;
  cursor: pointer;
   transition: transform 0.2s ease, background 0.2s ease; 
}
.right button:hover {
  background-color: transparent;
  color: #55555a;
  transition: 0.2s ease;
  transform: scale(1.08);
}


}
